<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            color: #333;
        }

        .container {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            background-color: #ffffff;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }

        .header {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        .header h1 {
            margin: 0;
            font-size: 2em;
        }

        .body {
            padding: 30px;
            text-align: center;
        }

        .body h2 {
            font-size: 1.5em;
            color: #333;
        }

        .body p {
            font-size: 1em;
            color: #666;
            margin-bottom: 20px;
        }

        .button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #333;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            font-size: 1em;
        }

        .footer {
            background-color: #f4f4f4;
            text-align: center;
            padding: 20px;
            font-size: 0.9em;
            color: #999;
        }

        .footer a {
            color: #333;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Redefinição de Senha</h1>
        </div>
        <div class="body">
            <h2>Olá, {{name}}!</h2>
            <p>Recebemos uma solicitação para redefinir sua senha. Para garantir a segurança da sua conta, usamos um
                link exclusivo para concluir o processo.</p>
            <p>Clique no botão abaixo para acessar a página de redefinição de senha:</p>
            <a href="http://yonto.com.br/reset-password?token={{resetToken}}" class="button">Redefinir Senha</a>
            <p>Caso você não tenha feito essa solicitação, por favor, ignore este e-mail.</p>
        </div>
        <div class="footer">
            <p>Se você tiver dúvidas, não hesite em <a href="mailto:suporte@yonto.com">entrar em contato conosco</a>.
            </p>
            <p>&copy; 2025 Yonto. Todos os direitos reservados.</p>
        </div>
    </div>
</body>

</html>